<div class="contents row">
  <div class="container">
    <h3>編集する</h3>
    <%= form_with(model: @expense, local: true) do |form| %>
      <%= form.text_field :ex_amount, placeholder: "1,000" %>
      <%= form.text_field :about_ex, placeholder: "ケーキセット" %>
      <%= form.text_field :category_id %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>