<div class="contents row">
  <div class="container">
    <h3>支出の入力</h3>
    <%= form_with(model: @expense, local: true) do |form| %>
      <%= form.text_field :ex_amount, placeholder: "1,000円" %>
      <%= form.text_field :about_ex, placeholder: "表参道のカフェ" %>
      <%= form.text_field :category_id %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>