  <div class="content_post" style="background-image: url(<%= @expense.image %>);">
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_expense_path(@expense.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', expense_path(@expense.id), method: :delete %>
        </li>
      </ul>
    </div>
    <p><%= @expense.text %></p>
    <span class="name"><%= @expense.name %>
    </span>
  </div>
</div>