<!DOCTYPE html>
<html>
  <head>
    <title>plus+minus-balance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.typekit.net/nfh8iwu.css">
  </head>
  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/"><%= image_tag "pmbalance.svg", :width => '180', class:"plus-minus-balance" %></a></h1>
        <% if user_signed_in? %>
          <div class="grid-6 strong">
            <div class="margin-r50">
              <%= link_to image_tag("in-pen.svg", :width => '85', class:"収入の記入"), new_dashboard_income_path(Date.current.strftime('%Y-%m-%d')) %>
              <%= link_to image_tag("ex-pen.svg", :width => '85', class:"支出の記入"), new_dashboard_expense_path(Date.current.strftime('%Y-%m-%d')) %>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post" %>
            </div>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright plus+minus-balance 2020.
      </p>
    </footer>
  </body>
</html>